* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}

body {
  font-family: 'Roboto', sans-serif;
  color: #2D2D2D;
  width: 100%;
  line-height: 1.6;
  padding: 36px 16px;
  display: flex;
  justify-content: center;
}

h1, h2 {
  line-height: 1.2;
  margin: 10px 0;
}

#recipe-list {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-gap: 2rem;
 margin: 32px 0;
}

#recipe-list > a {
  text-decoration: none;
  color: inherit;
}

#recipe-list > a:hover {
  text-decoration: underline;
  text-decoration-color: #d54215;
}

.recipe-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 364px;
}

.recipe-item > img {
  width: 100%;
  object-fit: contain;
}



/* Recipe page styles */

#recipe-content {
  display:flex;
  flex-direction: column;
  gap: 16px;
  max-width: 900px;
}

img {
  width: 65%;
  height: auto;
}

ul, ol {
  padding-left: 20px;
}
